<div class="commonZ">
    <h1>{{title}}</h1>
    <input type="text" [(ngModel)]="keyword" (keyup)="doAdd($event)">

    <hr>

    <p>待办事项</p>
    
    <ul class="list">
        数据列表
        <li *ngFor="let item of historyList; let key = index" [ngClass]="getLiColor(key)" [hidden]="item.status == true" appHighlight>
            <input type="checkbox" [(ngModel)]="item.status" (change)="changeStatus()"/>
            <span>{{item.keyword}}---{{item.status}}</span>
            <button (click)="deleteItem(key)">删除这个数据</button>
        </li>
        
    </ul>
    
    <p>已完成事项</p>

    <ul class="list">
        数据列表
        <li *ngFor="let item of historyList; let key = index" [ngClass]="getLiColor(key)" [hidden]="item.status == false" appHighlight>
            <input type="checkbox" [(ngModel)]="item.status" (change)="changeStatus()"/>
            <span>{{item.keyword}}---{{item.status}}</span>
            <button (click)="deleteItem(key)">删除这个数据</button>
        </li>
        
    </ul>

</div>