.red {
  color: red;
}

.yellow {
  color: yellowgreen;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

h1 {
 text-align: center;   
}

.list {
    li {
        button {
            margin-left: 10px;
        }
    }
}